/*@font-face {
  font-family: 'Quark';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Quark-Light.otf) format('otf');
  unicode-range: U+0020-007F,U+0E00-0E7F;
}
@font-face {
  font-family: 'Quark';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Quark-Bold.otf) format('otf');
  unicode-range: U+0020-007F,U+0E00-0E7F;
}*/

/*
@font-face {
	font-family: 'Quark';
	src: url('/fonts/Quark-Light.ttf') format('truetype');
	src: url('/fonts/Quark-Light.eot');
	src: url('/fonts/Quark-Light.eot?#iefix') format('embedded-opentype');
	src: url('/fonts/Quark-Light.woff') format('woff');
  src: url('/fonts/Quark-Light.otf') format('otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Quark';
	src: url('/fonts/Quark-Bold.eot');
	src: url('/fonts/Quark-Bold.ttf') format('truetype');
	src: url('/fonts/Quark-Bold.eot?#iefix') format('embedded-opentype');
	src: url('/fonts/Quark-Bold.woff') format('woff');
  src: url('/fonts/Quark-Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
*/

@font-face {
	font-family: 'Quark';
	src: url('/fonts/Quark-Light.ttf');
	/*src: url('/fonts/Quark-Light.eot');
	src: url('/fonts/Quark-Light.woff');*/
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Quark';
	src: url('/fonts/Quark-Bold.ttf');
	/*src: url('/fonts/Quark-Bold.eot');
	src: url('/fonts/Quark-Bold.woff');*/
	font-weight: 700;
	font-style: normal;
}



html,body {
  font-family: Leelawadee, Tahoma, sans-serif;
  line-height: 2rem;
}


h1,h2,h3,h4,h5,h6 {
  font-family: Quark, Leelawadee, Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: 0;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-family: Quark, Leelawadee, Tahoma, sans-serif;
	font-size: 1.8rem;
}
