pre code.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5rem;
	text-shadow: 1px 1px 0px #00000033;
}

code.hljs {
	padding: 3px 5px
}

.hljs {
	background: #fff;
	color: #000
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
	color: #888;
	text-shadow: none;
}

.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
	color: blue;
	font-weight: bold;
}

.hljs-built_in {
	color: darkcyan
}

.hljs-addition {
	color: rgb(19, 137, 253);
}

.hljs-attribute,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
	color: #a31515
}

.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
	color: #2b91af
}

.hljs-doctag {
	color: grey
}

.hljs-attr {
	color: red
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
	color: #00b0e8
}

.hljs-emphasis {
	font-style: italic
}

.hljs-strong {
	font-weight: 700
}


/* https://github.com/wcoder/highlightjs-line-numbers.js/tree/master */
.hljs-ln-n {
	color: lightcoral;
	padding-right: 1rem;
	border-right: 3px solid #ddd;
}